.flex {
  display: flex;
}

.form-section {
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 0px;
}

form {
  width: 400px;
  height: 400px;
}

.error {
  color: red;
  margin-top: 6px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  display: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.form-section input:focus {
  border: 0.1px solid;
  border-image: linear-gradient(
      to right,
      hsl(249, 99%, 64%),
      hsl(278, 94%, 30%)
    )
    1;
}

.form-section input::placeholder {
  color: hsl(270, 3%, 87%);
  font-size: 20px;
}

.form-section input {
  border-radius: 10px;
  font-size: 20px;
  color: hsl(278, 68%, 11%);
  height: 50px;
  cursor: pointer;
}

.form-section button {
  border-radius: 10px;
  margin-top: 15px;
  height: 55px;
}

.form-section .btn-primary {
  background-color: hsl(278, 68%, 11%);
  border: none;
}

.form-section label {
  color: hsl(278, 68%, 11%);
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-top: 12px;
}

.form-section .inputLeft {
  margin-left: 12px;
  margin-right: 18px;
}

.btn {
  font-size: 1.2rem;
}

.formCompleted {
  display: none;
  text-align: center;
  width: 400px;
  height: 400px;
}

.formCompleted h2 {
  color: hsl(278, 68%, 11%);
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 40px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.formCompleted p {
  color: hsl(279, 6%, 55%);
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 690px) {
  .form-section {
    margin-top: 110px;
    margin-left: 27px;
    margin-right: 27px;
  }

  form {
    width: 320px;
    height: 320px;
  }

  .formCompleted {
    width: 320px;
    height: 350px;
  }

  .form-section label {
    font-size: 13px;
    padding-top: 0px;
  }

  .input-left {
    width: 160px;
  }

  .input-right {
    width: 150px;
  }

  .form-section input {
    height: 45px;
  }
}
