.App{
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.img-left{
  background-image: url("./components/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 450px;
  height: 100vh;
}

@media (max-width: 690px)  {
  .App{
    display: block;
  }

  .img-left{
    background-image: url("./components/images/bg-main-mobile.png");
    width: 375px;
    height: 240px;
    padding: 0;
  }

  .right{
    width: 375px;
    height: 450px;
  }

}
